<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3">
            <div class="footer-contact">
                <h2 style="text-decoration: none;">Office Contact</h2>
                <p><i class="fa fa-map-marker-alt"></i>10th Floor Social Security House - Annex, Nairobi, Kenya</p>
                <p><i class="fa fa-phone-alt"></i>020 8696 800</p>
                <p><i class="fa fa-envelope"></i>info@privatisation.go.ke</p>
                <div class="footer-social">
                    <a href="https://x.com/PrivatisationKE"><i class="fab fa-twitter"></i></a>
                    <a href="https://web.facebook.com/privatisationauthority"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/privatisationauthority/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/privatizationke/?originalSubdomain=ke"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="footer-link">
                <h2 style="text-decoration: none;">Service Areas</h2>
                <a href="/privatisation">Privatization Programme</a>
                <a href="/research">Research</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="footer-link">
                <h2 style="text-decoration: none;">Useful Pages</h2>
                <a href="/mandate">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/management">Management</a>
                <a href="/success">Projects</a>
            </div>
        </div>
    </div>
</div>

<style>
.footer-contact, .footer-link {
    text-align: left;
}

h2 {
    text-decoration: none;
}
</style>
